.button-container {
  margin-top: 20px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container button {
  border-radius: 5px;
  width: 174px;
  height: 40px;
}

.btn h6 {
  color: var(--white);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.button-container-text p {
  height: 40px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray-dark);
  padding: 8px;
  margin: 0;
}

@media (min-width: 576px) {
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 45px;
    margin-top: 30px;
  }

  .button-container-text p {
    padding-left: 18px;
  }
}
