@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --orange: #f78b00;
  --blue-dark: #00285f;
  --white: #fff;
  --black: #000;
  --gray-dark: #585858;
  --gray-light: #ededed;
  --gray-text: #a7a7a7;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}
.base-container {
  font-size: 22px;
  padding: 20px 10px;
  text-align: center;
}

.base-card {
  background-color: var(--gray-light);
  border-radius: 10px;
  padding: 25px 10px;
}
